{% load i18n %}
<!doctype html>
<html lang="{{LANGUAGE_CODE}}" >
<head>
    <meta charset="UTF-8">
    <title>Pagina de Inicio</title>
</head>
<body>
    <form action="/i18n/setlang/" method="post">{% csrf_token %}
      <input name="next" type="hidden" value="/" />
      <select name="language">
        {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Go" />
    </form>
<h1>{% trans "Bienvenido a nuestro sitio" %} </h1>
<p>{% trans "Hola amigos, este es un interesante sitio" %}</p>
</body>
</html>